
.form-row{
    margin: 35px 0px 35px 0px;
}
.title-div{
    color: #C0C300;
    margin-bottom: 40px;
    text-align: left;
    padding-left: 65px;
}
.button-submit{
    margin-right: 20px;
}
.button-row{
    justify-content: center;
    margin-top: 30px;
}
.form-control input {
    color: red;
}
.password-group{
    margin-top: 30px;
}
.cancel-button{
    border-color: red;
    border-width: 2px;
}
.cancel-button:hover{
    background-color: red;
    color: white;
}
.submit-button{
    border-width: 2px;
}